<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GLserver</title>
    <link href="/static/css/csstools/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    input[type="text"] {
        padding: 8px;
        margin-left: 2px;
        border: none;
        border-bottom: 1px solid #000000;
        font-size: 12px;
        width: 250px;
    }
</style>
<body>
<div>
    <h3 style="text-align: center;color: #007bff">GLSERVER</h3>
    <li style="margin-left: 4px;">
            <span style="color: crimson">
                <b style="color: black">[日志总条数: {{.logNum}}]</b>
            </span><br><br>
    </li>
    <form style="display: inline-block;" method="post" action="/ss">
        <input type="text" id="searchInput" name="queryStr" placeholder="日志伪名关键字">
        <button type="submit" class="btn btn-success"><b>搜索</b></button>
    </form>
    <a href="/getlog" style="text-decoration: none;">
        <button class="btn btn-primary" style="margin-left: 2px;" id="clog"><b>查看日志</b></button>
    </a>
    <a href="/log/err" style="text-decoration: none;">
        <button class="btn btn-primary" style="margin-left: 2px;"><b>检测日志</b></button>
    </a>

    <form method="post" action="/del">
        <button class="btn btn-danger" style="position: absolute;top: 95px;right: 10px;">
            <b>全部删除</b>
        </button>
    </form>
</div>

<table class="table table-dark" style="margin-top: 20px;">

    <thead class="thead-dark sticky-top">
    <tr>
        <th>推送时间</th>
        <th>日志伪名</th>
        <th>日志内容</th>
    </tr>
    </thead>

    <tbody id="data"></tbody>
</table>
<div id="pagination"></div><br>

<script>
    var logData = {{.gameLog}};
    const pageSize = 100;
    let currentPage = 1;

    function getCurrentPageData() {
        const start = (currentPage - 1) * pageSize;
        const end = start + pageSize;
        return logData.slice(start, end);
    }

    function renderTable() {
        const showLists = getCurrentPageData();
        let html = '';
        for (const item of showLists) {
            html += '<tr>';
            html += '<td>' + item.Time + '</td>';
            html += '<td>' + item.Pro + '</td>';
            html += '<td>' + '<pre style="color: darkgoldenrod">' + item.Log + '</pre>' + '</td>';
            html += '</tr>';
        }
        document.getElementById('data').innerHTML = html;
    }

    function getTotalPage() {
        return Math.ceil(logData.length / pageSize);
    }

    function renderPagination() {
        const totalPage = getTotalPage();
        let html = '';
        html += '第' + '<span style="color: #f36109">' + currentPage + '</span>' + '页 / 共' + totalPage + '页';
        html += '<button id="prevPage" class="btn btn-success" style="margin-left: 5px;">上一页</button>';
        html += '<button id="nextPage" class="btn btn-success" style="margin-left: 5px;">下一页</button>';
        document.getElementById('pagination').innerHTML = html;
        const prevPageBtn = document.getElementById('prevPage');
        if (currentPage === 1) {
            prevPageBtn.disabled = true;
        } else {
            prevPageBtn.disabled = false;
            prevPageBtn.addEventListener('click', function () {
                currentPage--;
                renderPagination();
                renderTable();
            });
        }
        const nextPageBtn = document.getElementById('nextPage');
        if (currentPage === totalPage) {
            nextPageBtn.disabled = true;
        } else {
            nextPageBtn.disabled = false;
            nextPageBtn.addEventListener('click', function () {
                currentPage++;
                renderPagination();
                renderTable();
            });
        }
    }

    renderPagination();
    renderTable();
</script>
</body>
</html>